{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}

  {% include "navbar.html" %}
  <div class="w-layout-blockcontainer w-container">
    <h1>Donate</h1>
    <p>This website is paid for through my personal funding. Donations are greatly appreciated and will go towards hosting and domain registration expenses.<br><br>Bitcoin: b<br><br>Litecoin:<br><br>Ethereum:<br><br>Monero:<br>‍<br><br>‍</p>
  </div>
  {% include "footer.html" %}

</body>
{% endblock content %}