{% extends "base.html" %}
{% load static %}


{% block title %}Home{% endblock title %}

{% block content %}
{% include "navbar.html" %}
{% include "prices.html" %}
<section class="hero-heading-right">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-split"><img
          src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a28a812aad9_placeholder%202.svg"
          loading="lazy" alt="" class="shadow-two"></div>
      <div class="hero-split">
        <h1>Free Crypto Portfolio Tracker</h1>
        <p class="margin-bottom-24px">Add your wallet addresses in a few clicks, and start tracking your crypto portfolio for free.</p>
        <a href="{% url 'sign-up' %}"  class="f-button-apple w-inline-block" id="">
          <div>Get Started</div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="features-list">
  <div class="container">
    <div class="features-wrapper-two">
      <ul role="list" class="features-right w-list-unstyled">
        <li class="features-block-two">
          <i class="fa-brands fa-github features-image" style="font-size:60px"></i>
          <p><strong>Open Source and Free<br></strong>The public repository is under the MIT license and available on
            Github <a href="https://github.com/0jc1/cointracker" class="link">here</a>. </p>
        </li>
        <li class="features-block-two">
          <i class="fa-solid fa-database features-image" style="font-size:60px"></i>
          <p><strong>Privacy Respecting<br></strong>Your personal data is not collected or asked for.</p>
        </li>
        <li class="features-block-two">
            <i class="fa-solid fa-user features-image" style="font-size:60px"></i>
          <p><strong>Easy to use</strong> <br>Track your cryptocurrency portfolio balance over time.<br></p>
        </li>
      </ul>
    </div>
  </div>
</section>
{% include "footer.html" %}

{% endblock content %}