{% extends "base.html" %}
{% load static %}


{% block title %}Home{% endblock title %}

{% block content %}
{% include "navbar.html" %}
<section class="section">
  <div class="text-block-3">BTC: $100,000</div>
</section>
<section class="hero-heading-right">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-split"><img
          src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a28a812aad9_placeholder%202.svg"
          loading="lazy" alt="" class="shadow-two"></div>
      <div class="hero-split">
        <h1>Free Crypto Portfolio Tracker</h1>
        <p class="margin-bottom-24px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt
          sagittis eros. Quisque quis euismod lorem. Etiam sodales ac felis id interdum.</p>
      </div>
    </div>
  </div>
</section>
<section class="features-list">
  <div class="container">
    <div class="features-wrapper-two">
      <ul role="list" class="features-right w-list-unstyled">
        <li class="features-block-two"><img
            src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a28a812aad9_placeholder%202.svg"
            loading="lazy" alt="" class="features-image">
          <p><strong>Open Source and Free<br></strong>The public software is under the MIT license and available on
            Github <a href="https://github.com/0jc1/cointracker" class="link">here</a>. </p>
        </li>
        <li class="features-block-two"><img
            src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ace5e12aae4_portfolio%204%20-%20wide.svg"
            loading="lazy" alt="" class="features-image">
          <p><strong>Privacy Respecting<br></strong>Your personal data is not collected or asked for.</p>
        </li>
        <li class="features-block-two"><img
            src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a55c612aae2_portfolio%202%20-%20wide.svg"
            loading="lazy" alt="" class="features-image">
          <p><strong>Easy to use</strong> <br>Track your cryptocurrency portfolio balance over time.<br></p>
        </li>
      </ul>
    </div>
  </div>
</section>
{% include "footer.html" %}

{% endblock content %}