<!-- 
<div class="f-modal-base-small hide">
  <div class="f-modal-header">
    <div class="f-sub-heading-regular">Wallet</div>
    <a href="#" class="f-modal-close-link w-inline-block">
      <div class="f-icon-regular-2 w-embed"><svg width="420" height="420" viewbox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.0002 10.586L16.9502 5.63599L18.3642 7.04999L13.4142 12L18.3642 16.95L16.9502 18.364L12.0002 13.414L7.05023 18.364L5.63623 16.95L10.5862 12L5.63623 7.04999L7.05023 5.63599L12.0002 10.586Z"
            fill="currentColor"></path>
        </svg>
      </div>
    </a>
  </div>
  <div class="f-modal-line"></div>
  <div class="f-modal-detail">
    <div class="f-modal-alert">
      <div class="f-icon-regular-2 w-embed"><svg width="420" height="420" viewbox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM12 10.586L9.172 7.757L7.757 9.172L10.586 12L7.757 14.828L9.172 16.243L12 13.414L14.828 16.243L16.243 14.828L13.414 12L16.243 9.172L14.828 7.757L12 10.586Z"
            fill="currentColor"></path>
        </svg></div>
    </div>
    <div class="f-paragraph-regular-3">Are you sure want to remove this wallet?</div>
  </div>
  <div class="f-modal-line"></div>
  <div class="f-modal-wrapper-right">
    <a href="#" class="f-button-secondary-2 w-button">Cancel</a>
    <a href="#" class="f-button-action w-button">Delete</a>
  </div>
</div>

<div class="f-modal-centre hide">
  <div class="f-modal-icon-success">
    <div class="f-icon-large w-embed"><svg width="32" height="32" viewbox="0 0 32 32" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16 29.3334C8.63596 29.3334 2.66663 23.364 2.66663 16C2.66663 8.63602 8.63596 2.66669 16 2.66669C23.364 2.66669 29.3333 8.63602 29.3333 16C29.3333 23.364 23.364 29.3334 16 29.3334ZM14.6706 21.3334L24.0973 11.9054L22.212 10.02L14.6706 17.5627L10.8986 13.7907L9.01329 15.676L14.6706 21.3334Z"
          fill="currentColor"></path>
      </svg></div>
  </div>
  <div class="f-margin-bottom-12">
    <div class="f-sub-heading-regular">Add your own modal headings!</div>
  </div>
  <div class="f-margin-bottom-28">
    <div class="f-paragraph-small">Get started with our tutorial, or skip below.</div>
  </div>
  <a href="#" class="f-button-primary w-button">Get Started</a>
  <a href="#" class="f-modal-close w-inline-block">
    <div class="f-icon-regular-2 w-embed"><svg width="420" height="420" viewbox="0 0 24 24" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12.0002 10.586L16.9502 5.63599L18.3642 7.04999L13.4142 12L18.3642 16.95L16.9502 18.364L12.0002 13.414L7.05023 18.364L5.63623 16.95L10.5862 12L5.63623 7.04999L7.05023 5.63599L12.0002 10.586Z"
          fill="currentColor"></path>
      </svg>
    </div>
  </a>
</div>
-->

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const openModalBtn = document.getElementById('openModalBtn');
    const closeModalBtn = document.getElementById('closeModalBtn');
    const modalOverlay = document.getElementById('modalOverlay');

    // Show the modal
    openModalBtn.addEventListener('click', (e) => {
      e.preventDefault();
      console.log('ok')
      modalOverlay.classList.add('is-active');
    });

    // Close the modal when the close button is clicked
    closeModalBtn.addEventListener('click', (e) => {
      e.preventDefault();
      modalOverlay.classList.remove('is-active');
    });

    // Close the modal if the user clicks outside the modal content area
    modalOverlay.addEventListener('click', (e) => {
      if (e.target === modalOverlay) {
        modalOverlay.classList.remove('is-active');
      }
    });
  });
</script>

<!-- Modal Overlay -->
<div id="modalOverlay" class="f-modal-overlay hide">
  <div class="f-modal-base">
    <div class="f-modal-content-wrapper">
      <div class="f-margin-bottom-29">
        <div class="f-sub-heading-regular">Add your cryptocurrency wallet</div>
      </div>
      <p class="f-paragraph-small">Add your BTC, ETH, SOL, LTC, or BNB wallet to your portfolio.</p>
      <div class="f-modal-form-block-small w-form">
        <!-- Use Django form here -->
        <form id="email-form" name="email-form" method="post" action="{% url 'portfolio' %}">
          {% csrf_token %}
          {{ form.non_field_errors }}
          
          <!-- Dropdown menu for coin type -->
          <div class="f-field-wrapper-2">
            <div class="f-field-label-2">Select Cryptocurrency:</div>
            <select name="wallet_type" class="f-field" required>
              <option value="">--Select--</option>
              <option value="BTC">BTC</option>
              <option value="ETH">ETH</option>
              <option value="LTC">LTC</option>
              <option value="SOL">SOL</option>
              <option value="BNB">BNB</option>
            </select>
          </div>
          
          <!-- Wallet address field -->
          <div class="f-field-wrapper-2">
            <div class="f-field-label-2">Wallet Address:</div>
            {{ form.address }}
          </div>
          
          <input type="submit" data-wait="Please wait..." class="f-button-primary w-button" value="Submit">
        </form>
        
        <div class="f-success-message w-form-done" style="display:none;">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail" style="display:none;">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <a href="#" id="closeModalBtn" class="f-modal-close w-inline-block">
      <div class="f-icon-regular-2 w-embed">
        <svg width="420" height="420" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0002 10.586L16.9502 5.63599L18.3642 7.04999L13.4142 12L18.3642 16.95L16.9502 18.364L12.0002 13.414L7.05023 18.364L5.63623 16.95L10.5862 12L5.63623 7.04999L7.05023 5.63599L12.0002 10.586Z"
            fill="currentColor"></path>
        </svg>
      </div>
    </a>
  </div>
</div>