{% extends "base.html" %}
{% load static %}

{% block title %}Sign up{% endblock title %}

{% block content %}
{% include "navbar.html" %}
<div class="w-layout-blockcontainer w-container">
  <h1>Sign Up</h1>
  <div class="div-block">
    <div class="w-form">
      <form id="email-form" name="email-form" action="{% url 'sign-up' %}" method="post"
        data-wf-page-id="675c5a6bae0d7c549e61e626" data-wf-element-id="53e31155-ead8-69c2-6cfa-2bb2b53c5d07">
        {% csrf_token %}
        <div class="f-field-wrapper">
          <div class="f-field-label">Username</div>
          <input class="f-field-input w-input" maxlength="256" name="username" data-name="username" placeholder=""
            type="text" id="username" required>
        </div>
        <div class="f-field-wrapper-copy">
          <div class="f-field-label">Password</div>

          <input class="f-field-input w-input" maxlength="256" name="password1" data-name="password1" placeholder=""
            type="password" id="password1" required>
        </div>
        <div class="f-field-wrapper-copy">
          <div class="f-field-label">Confirm Password</div>
          <input class="f-field-input w-input" maxlength="256" name="password2" data-name="password2" placeholder=""
            type="password" id="password2" required>
        </div>
        <input type="submit" data-wait="Please wait..." class="submit-button w-button" value="Submit">
        <div class="text-block-4">Already have an account? <a href="{% url 'login' %}">Login.</a>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail" style="display: {% if form.errors %}block{% else %}none{% endif %};">
        <div>Oops! Something went wrong while submitting the form:</div>
        <ul>
          {% for field in form %}
          {% if field.errors %}
          {{ field.label }}: {{ field.errors.as_text }}
          {% endif %}
          {% endfor %}
          {% if form.non_field_errors %}
          {{ form.non_field_errors }}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}
{% endblock content %}