{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Portfolio{% endblock title %}

{% block content %}

{% include "navbar.html" %}
{% include "tab.html" %}
<section>
  <div class="w-layout-blockcontainer container-3 w-container">
    <h1>Portfolio</h1>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    {% else %}
    <p>Please log in to view your portfolio.</p>
    {% endif %}
    <div class="w-layout-grid grid">

      <!-- Current Balance -->
      <div class="div-block-2-copy2">
        <div class="text-block-5">Current Balance</div>
        <div class="text-block-7">${{ total_balance|floatformat:2|intcomma }}</div>
      </div>

      <!-- 24h Change -->
      <div class="div-block-4">
        <div class="text-block-5">24h Change</div>
        <div class="text-block-6 {% if overall_change > 0 %}positive{% elif overall_change < 0 %}negative{% endif %}">
          {% if overall_change > 0 %}+{% endif %}{{ overall_change }}%
        </div>
      </div>

      <div class="div-block-5">
        <canvas id="canvas1" style="width: 100%" height="300" aria-label="Chart"></canvas>
      </div>

      <!-- Holdings Table -->
      <div class="div-block-4">
        <table class="table_component">
          <caption class="table_caption">Holdings</caption>
          <thead>
            <tr class="table_row table_head1">
              <th class="table_header">Name</th>
              <th class="table_header">Amount</th>
              <th class="table_header">Value</th>
              <th class="table_header">Price</th>
              <th class="table_header">24h Change</th>
            </tr>
          </thead>
          <tbody class="table_body">
            {% for holding in holdings_data %}
            <tr class="table_row">
              <td class="table_cell1" style="text-align: left;">
                <img src="{% static 'images/'|add:holding.ticker|add:'.png' %}" class="crypto-icon">

                <span>{{ holding.currency }}</span>
              </td>
              <td class="table_cell1">{{ holding.amount }}</td>
              <td class="table_cell1">${{ holding.value |floatformat:2|intcomma }}</td>
              <td class="table_cell1">${{ holding.latest_price |floatformat:2|intcomma }}</td>
              <td
                class="table_cell1 {% if holding.change > 0 %}positive{% elif holding.change < 0 %}negative{% endif %}">
                {% if holding.change > 0 %}+{% endif %}{{ holding.change }}%
              </td>
            </tr>
            {% empty %}
            <tr class="table_row">
              <td colspan="5" class="table_cell1">No holdings yet.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Wallets Table -->
      <div class="div-block-2-copy2 wallets-div">
        <!-- Displaying the user's wallets -->
        <table class="table_component">
          <thead>
            <tr class="table_row table_head1">
              <th class="table_header">Name</th>
              <th class="table_header">Address</th>
              <th class="table_header">Value</th>
              <th class="table_header">Allocation</th>
              <th class="table_header">Action</th>
            </tr>
          </thead>
          <tbody class="table_body">
            {% for wallet in user_wallets %}
            <tr class="table_row">
              <!-- Display the coin type with "Wallet" appended -->
              <td class="table_cell1">{{ wallet.name }}</td>

              <!-- Display the wallet address with overflow handling -->
              <td class="table_cell1 address-cell" title="{{ wallet.address }}">
                {{ wallet.address|slice:":6" }}...{{ wallet.address|slice:"-4:" }}
              </td>

              <!-- Display the wallet's total value -->
              <td class="table_cell1">${{ wallet.value |floatformat:2|intcomma }}</td>

              <!-- Display the wallet's allocation -->
              <td class="table_cell1">{{ wallet.allocation }}%</td>

              <td class="table_cell1">
                <a href="{% url 'remove_wallet' wallet.wallet.id %}" class="f-button-action w-button w-inline-block">
                  <div>Remove</div>
                </a>
              </td>
            </tr>
            {% empty %}
            <tr class="table_row">
              <td colspan="5" class="table_cell1">No wallets added yet.</td>
            </tr>
            {% endfor %}
          </tbody>
          <caption class="table_caption">Wallets</caption>
        </table>
        <a href="#" class="f-button-apple w-inline-block" id="openModalBtn">
          <div>Add Wallet</div>
        </a>
      </div>

    </div>
  </div>
</section>

{% include "modal.html" %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>

<script type="module" src="{% static 'js/portfolio.js' %}?v=3"></script>

{% endblock content %}